@font-face
{
	font-family: Segoe UI;
	src: url('../fonts/segoeui.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI;
	src: url('../fonts/segoeui.ttf');
}

@font-face
{
	font-family: Segoe UI Light;
	src: url('../fonts/segoeuil.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI Light;
	src: url('../fonts/segoeuil.ttf');
}

@font-face
{
	font-family: Segoe UI Semibold;
	src: url('../fonts/seguisb.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI Semibold;
	src: url('../fonts/seguisb.ttf');
}

body 
{
    font-family: 'Segoe UI';
    color: #FFF;
    background: #000;
}

/* EVENT BLOCKER */
#event-blocker 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;   
}

/* MAIN CONTAINER */
#main-container 
{
    width: 100%;
    height: 100%;   
}

/* MAIN COLOR PALLET */

.main-color-blue 
{
    background: #00BCF2;
}

.main-color-blue-text
{
    color: #00BCF2;
}

.main-color-green 
{
    background: #00D8CC;
}

.main-color-green-text 
{
    color: #00D8CC;
}

.main-color-purple 
{
    background: #9B4F96;
}

.main-color-purple-text
{
    color: #9B4F96;
}

.main-color-pink 
{
    background: #F472D0;
}

.main-color-pink-text
{
    color: #F472D0;
}

.main-color-orange 
{
    background: #FF8C00;
}

.main-color-orange-text
{
    color: #FF8C00;
}

/* POST MODULE */
#post-module 
{
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#post-module .background 
{
    background: #000;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#post-module .post-box
{
    z-index: 12;
    width: 408px;
    height: 500px;
    position: absolute;
}

#post-module .post-box .header 
{
    background: #00bcf2;
    height: 44px;   
}

#post-module .post-box .header p 
{
    font-size: 18px;   
    padding-left: 20px;
    padding-top: 9px;
}

#post-module .post-box .main-area 
{
     height: 456px;  
     background: #FFF;
}

#post-module .post-box .main-area .subhead 
{
    font-size: 13px;
    color: #000;
    padding-left: 20px;
    padding-top: 9px;
}

#post-module .post-box .main-area .post-image 
{
    margin-left: 20px;
    margin-top: 10px;   
}

#post-module .post-box .main-area .post-image img 
{
    width: 368px;
    height: 305px;   
}

#post-module .post-box .main-area .text-box 
{
    margin-left: 20px;
    margin-top: 5px; 
    padding: 5px;
    width: 358px;
    height: 46px;  
    font-size: 14px; 
    border: 1px solid #00bcf2;
}

#post-module .post-box .main-area .post-button 
{
    position: absolute;
    bottom: 18px;
    right: 18px;
    background: #00bcf2;
    color: #FFF;
    font-family: 'Segoe UI Semibold';
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer; 
}

/* HEADER */
#header 
{
    z-index: 2000;   
}


/* MAIN CONTENT */
#main-content 
{
    width: 100%;
    min-height: 500px;
    outline: 1px dashed #00FF00;
    background-color: #DADADA;
}

.video-player-container
{
    outline: 1px dotted #FF0000;
    width: 613px;
    height: 350px;
    margin: auto;
}

.video-player 
{
    width: 613px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.video-player img {
    position: absolute;
}

#footer 
{
    height: 70px;
    background: #FFF; 
    padding-left: 56px;
    padding-top: 25px;
}

#footer p 
{
    font-family: 'Segoe UI Light';
    font-size: 27px;  
    color: #00BCF2; 
}



