@font-face
{
	font-family: Segoe UI;
	src: url('../fonts/segoeui.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI;
	src: url('../fonts/segoeui.ttf');
}

@font-face
{
	font-family: Segoe UI Light;
	src: url('../fonts/segoeuil.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI Light;
	src: url('../fonts/segoeuil.ttf');
}

@font-face
{
	font-family: Segoe UI Semibold;
	src: url('../fonts/seguisb.eot'); /* EOT file for IE */
}
@font-face
{
	font-family: Segoe UI Semibold;
	src: url('../fonts/seguisb.ttf');
}

body 
{
    font-family: 'Segoe UI';
    color: #000;
    background-color: #FFF;
}

/* EVENT BLOCKER */
#event-blocker 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;   
}

/* MAIN CONTAINER */
#main-container 
{
    width: 100%;
    height: 100%;   
}

/* MAIN COLOR PALLET */

.main-color-blue 
{
    background: #00BCF2;
}

.main-color-blue-text
{
    color: #00BCF2;
}

.main-color-green 
{
    background: #00D8CC;
}

.main-color-green-text 
{
    color: #00D8CC;
}

.main-color-purple 
{
    background: #9B4F96;
}

.main-color-purple-text
{
    color: #9B4F96;
}

.main-color-pink 
{
    background: #F472D0;
}

.main-color-pink-text
{
    color: #F472D0;
}

.main-color-orange 
{
    background: #FF8C00;
}

.main-color-orange-text
{
    color: #FF8C00;
}



/* HEADER */
#header 
{
    z-index: 2000;   
}


/* MAIN CONTENT */
#main-content 
{
    width: 100%;
    min-height: 500px;
    vertical-align: baseline;
}

.video-player-container
{
    margin: 0;
    outline: 1px dotted #FF0000;

}

.video-player {

    outline: 1px dotted #00FF00;
}

.video-player img {
    left: 0px;
} 

#jcontrols { 
    display: none;
}

#controls input {
    width: 50px;
}


#footer 
{
    height: 70px;
    background: #FFF; 
    padding-left: 56px;
    padding-top: 25px;
}

#footer p 
{
    font-family: 'Segoe UI Light';
    font-size: 27px;  
    color: #00BCF2; 
}



